gitignore
# IDE / Editor
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Android / Gradle
.gradle/
build/
local.properties
captures/
.externalNativeBuild
.cxx/

# Distribution Zips (If you want to keep them out of Git)
*.zip
